footer {
    background-color: $lt-gray;
    section#footer-links {
        div.container {
            nav {
                ul {
                    margin-left: -10px;
                    li {
                        display: inline;
                        margin-right: 5px;
                        .link__plain--dark-gray {
                            display: inline-block;
                            padding-bottom: 5px;
                            &::after {
                                content: "";
                                width: calc(100% - 20px);
                                height: 2px;
                                background-color: $gray;
                                position: absolute;
                                bottom: 0px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                            &:hover {
                                i {
                                    color: $secondary;
                                    transform: translateY(2.5px);
                                }
                                &::after {
                                    background-color: $secondary;
                                }
                            }
                            i {
                                margin-left: 5px;
                            }
                        }
                        .link__plain--dark-gray-active {
                            i {
                                color: $secondary;
                                transform: translateY(2.5px);
                            }
                            &::after {
                                background-color: $secondary;
                            }
                        }
                    }
                }
            }
        }
    }
    section#footer-copyright {
        div.container {
            p {
                color: $gray;
                margin-bottom: 10px;
            }
            a {
                color: $gray;
                text-decoration: underline;
                &:hover {
                    color: $secondary;
                }
            }
        }
    }
    section#footer-logo {
        div.container {
            img {
                width: 50px;
            }
        }
    }
}