div#search-bar{
	width: 100%;
	height: auto;
	max-height: 0px;
	overflow: hidden;
	float: left;
	background-color: $gray;
	div.container{
		form#search{
			width: 100%;
			float: left;
			input[type="text"]{
				width: calc(100% - 115px);
				float: left;
				border-radius: 6px;
				padding: 10px;
				border: none;

				@media (min-width: $tablet){
					width: calc(100% - 215px);
				}
			}

			input[type="submit"]{
				appearance: none;
				width: 100px;
				float: right;
				border: none;
				background-color: #696875;
				box-shadow: none;

				@media (min-width: $tablet){
					width: 200px;
				}
			}
		}
		div#search-results{
			width: 100%;
			float: left;
			h2{
				color: #fff;
				margin-bottom: 15px;
			}

			p{
				color: #fff;
			}

			ul{
				li{
					margin-bottom: 15px;
					color: #fff;
					em{
						color: #fff;
						font-weight: 900;
					}
					a{
						color: $primary;
					}
				}
			}
		}
	}
}

.search__bar--active{
	max-height: 500px !important;
}