*::selection {
    color: #fff;
    background-color: #000;
}

html {
    body {
        width: 100%;
        float: left;
        header{
            section {
                div.container {}
            }
        }
        main {
            section {
                div.container {}
            }
        }
        footer{
            section {
                div.container {}
            }
        }
    }
}