h1, h2, h3,
h4, h5, h6,
p, li, a, 
th, td, address,
span, div{
    font-family: Verdana,Geneva,sans-serif;
    *{
        font-family: Verdana,Geneva,sans-serif;
    }
}

*::selection {
    color: #fff;
    background-color: $primary;
}

//admin bar
#admin-menu{
    display: none;
}

//olark
#habla_window_div #habla_topbar_div{
    background-color: $primary !important;
}


body.admin-menu{
    margin-top: 0px !important;
} 

//block__element--modifier
html {
    width: 100%;
    float: left;
    body {
        width: 100%;
        float: left;
        overflow-x: hidden;

        header, main, footer{
            width: 100%;
            float: left;
            section {
                width: 100%;
                float: left;
            }
        }
        header {
            
            
        }
        main {
            min-height: calc(100vh - 300px);
            margin-bottom: 10px;
        }
        footer {

        }
    }
}