$sm-phone: 320px;
$m-phone: 480px;
$lg-phone: 600px;
$tablet: 768px;
$desktop: 960px;
$final: 1400px;
$primary: #2D8EC2;
$secondary: #205595;
$lt-gray: #EBEBEB;
$gray: #C3C3C4;
$dk-gray: #46454D;
$blue: #202028;
$dk-blue: #272730;